@media only screen and (min-width: 601px) {
    .timepicker-modal {
      max-width: 600px;
    }
    .timepicker-container.modal-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .timepicker-text-container {
      top: 32%;
    }
    .timepicker-display-am-pm {
      position: relative;
      right: auto;
      bottom: auto;
      text-align: center;
      margin-top: 1.2rem;
    }
  }
/* Media Queries */
@media only screen and (min-width: 601px) {
    .datepicker-modal {
      max-width: 625px;
    }
    .datepicker-container.modal-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }
    .datepicker-date-display {
      -webkit-box-flex: 0;
      -webkit-flex: 0 1 270px;
          -ms-flex: 0 1 270px;
              flex: 0 1 270px;
    }
    .datepicker-controls,
    .datepicker-table,
    .datepicker-footer {
      width: 320px;
    }
    .datepicker-day-button {
      line-height: 44px;
    }
  }
  agora-primary-bg {
    color: #fff;
    background-color: #1E88E5 !important;
    align-items: center; }
  
  .card.container {
    margin-left: 20px; }
  
  h5 {
    margin: 0;
    margin-left: 20px; }
  
  nav {
    height: 55px; }
  
  .agora-secondary-border {
    border: 1px solid #424242 !important; }
  
  .agora-secondary-bg {
    color: #fff;
    background-color: #424242 !important;
    align-items: center; }
  
  .switch {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .switch h6 {
      margin: 0; }
  
  #local_stream {
    position: relative; }
  
  #local_video_info {
    position: absolute; }
  
  .video-view {
    position: relative; }
  
  .video-view,
  .video-placeholder,
  #local_stream, #local_video_info {
    width: 480px;
    height: 320px; }
  
   .video-profile {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 2;
    color: #fff;
    opacity: 0.9;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 10px; }
  
 .video-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto; }
  
  .autoplay-fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
    cursor: pointer; }
    .autoplay-fallback::after {
      content: 'click here to play';
      font-size: 1.5rem;
      opacity: 0.9;
      text-shadow: black 0.1em 0.1em 0.2em;
      display: block;
      color: #fff; }